SUPABASE_URL=https://ompjbjkxtryyjjxuqtyq.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tcGpiamt4dHJ5eWpqeHVxdHlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0ODQ1MjQsImV4cCI6MjA5MzA2MDUyNH0.HGhsz3ofk1FKRnXAfbRzgYviuXpmbwpZ7n0NfN7_OnY
